[Desktop Entry]
Name=Solarus
Comment=A free and open-source ARPG 2D game engine
MimeType=application/zip;
Exec=run_solarus.sh %f
Terminal=false
Type=Application
StartupNotify=true
Icon=solarus
Categories=games
